<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/adm.css">
    <title>Bagaço - Administração</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="adm.html" id="logo">BAGAÇO</a>
        </div>
        <nav>
            <a href="" class="nav-link">Produtos</a>
            <a href="" class="nav-link">Clientes</a>
            <a href="" class="nav-link">Cadastrar</a>
            <a href="" class="nav-link">Venda</a>
            <a href="" class="nav-link">Relatórios</a>
            <div id="divider"></div>
            <a href="" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>
        </nav>
    </header>

    <div class="container">
        <div class="container-txt">
            <p>PRODUTOS</p>
        </div>

        <ul class="produtos">
            <li>
                <div class="desc-produto">
                    <img src="https://dummyimage.com/150x150/000/fff&text=Imagem">
                    <div>
                        <p class="nome">NOME: </p>
                        <p class="descricao">DESCRIÇÃO: </p>
                    </div>
                </div>

                <div class="preco-comprar">
                    <p class="preco">Preço</p>
                    <button class="alterar">Alterar</button>
                </div>
            </li>

            <li>
                <div class="desc-produto">
                    <img src="https://dummyimage.com/150x150/000/fff&text=Imagem">
                    <div>
                        <p class="nome">NOME: </p>
                        <p class="descricao">DESCRIÇÃO: </p>
                    </div>
                </div>

                <div class="preco-comprar">
                    <p class="preco">Preço</p>
                    <button class="alterar">Alterar</button>
                </div>
            </li>

            <li>
                <div class="desc-produto">
                    <img src="https://dummyimage.com/150x150/000/fff&text=Imagem">
                    <div>
                        <p class="nome">NOME: </p>
                        <p class="descricao">DESCRIÇÃO: </p>
                    </div>
                </div>

                <div class="preco-comprar">
                    <p class="preco">Preço</p>
                    <button class="alterar">Alterar</button>
                </div>
            </li>

            <li>
                <div class="desc-produto">
                    <img src="https://dummyimage.com/150x150/000/fff&text=Imagem">
                    <div>
                        <p class="nome">NOME: </p>
                        <p class="descricao">DESCRIÇÃO: </p>
                    </div>
                </div>

                <div class="preco-comprar">
                    <p class="preco">Preço</p>
                    <button class="alterar">Alterar</button>
                </div>
            </li>

            <li>
                <div class="desc-produto">
                    <img src="https://dummyimage.com/150x150/000/fff&text=Imagem">
                    <div>
                        <p class="nome">NOME: </p>
                        <p class="descricao">DESCRIÇÃO: </p>
                    </div>
                </div>

                <div class="preco-comprar">
                    <p class="preco">Preço</p>
                    <button class="alterar">Alterar</button>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>