@model Ecommerce.Models.Usuario

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/cadastrar.css">
    <title>Bagaço - Cadastre-se</title>
</head>

<body>
    <div class="container-se">
        <div class="home">
            <a href="~/home/index" id="home"><i class="fa-solid fa-house" title="Home"></i></a>
        </div>

        <div class="container-txt">
            <p class="logo">BAGAÇO</p>
            <span id="line"></span>
            <p class="aviso">Crie uma conta e aproveite nossos benefícios</p>

            <form method="POST" asp-action="Cadastro" class="form">
                <div class="cpf">
                    <label for="CPF">CPF</label>
                    <input type="text" name="CPF" id="CPF" required >
                </div>

                <div class="senha">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" required>
                </div>

                <div class="botao">
                    <input type="submit" id="enviar" value="SIGN IN">
                </div>

                <div class="logar">
                    <p>Já possui uma conta? <a href="login.html">Entre aqui</a></p>
                </div>
            </form>
        </div>
    </div>
    <p> @TempData["msg"]</p>
</body>
    
</html>