@model Ecommerce.Models.Usuario

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/cadastrar.css">
    <title>Bagaço - Cadastre-se</title>
</head>

<body>
    <script src="~/lib/jQuery-Mask-Plugin-master/jQuery-Mask-Plugin-master/src/jquery.mask.js" type="text/javascript" asp-append-version="true"></script>

    <div class="container-se">
        <div class="home">
            <a href="~/home/index" id="home"><i class="fa-solid fa-house" title="Home"></i></a>
        </div>

        <div class="container-txt">
            <p class="logo">BAGAÇO</p>
            <span id="line"></span>
            <p class="aviso">Crie uma conta e aproveite nossos benefícios</p>

            <form method="POST" asp-action="Cadastro" class="form">

                <div class="msg">
                    @TempData["msg"]
                </div>

                <div class="nome">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" required>
                </div>

                <div class="telefone">
                    <label for="telefone">Telefone</label>
                    <input type="text" name="telefone" id="telefone" required>
                </div>

                <div class="endereco">
                    <label for="endereco">Endereço</label>
                    <input type="text" name="endereco" id="endereco" required>
                </div>

                <div class="senha">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" required>
                </div>

                <div class="cpf">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" class="cpf" id="cpf" required>
                </div>

                <div class="botao">
                    <input type="submit" id="enviar" value="CADASTRAR">
                </div>

                <div class="logar">
                    <p>Já possui uma conta? <a href="~/Usuario/Login">Entre aqui</a></p>
                </div>
            </form>
        </div>
    </div>



    @{/* <script>

                  const btn = document.querySelector('#enviar')

                  btn.addEventListener('click', () => {
                      const input = document.querySelectorAll('input')
                      input.forEach(e => {
                          if (e.value == ' ' || e.value == '') {
                              alert('Insira os valores corretamente')
                          }
                      })

                      Command: toastr["success"]("Cadastro feito com sucesso", "Aviso")

                      toastr.options = {
                          "closeButton": false,
                          "debug": false,
                          "newestOnTop": false,
                          "progressBar": false,
                          "positionClass": "toast-top-right",
                          "preventDuplicates": false,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                      }
                   })
              </script>
                */
    }

    <script src="~/js/cliente.js"></script>

</body>

</html>