<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/19a96cf4ea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/menu.css" />
    <link rel="stylesheet" href="assets/css/carrinho.css" />
    <title>Bagaço - Carrinho</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="~/Views/Produto/ProdutosCliente.cshtml" id="logo">BAGAÇO</a>
      </div>

      <nav>
        <a href="" class="nav-link  user">
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="" class="nav-link">Sair</a>
      </nav>
    </header>

    <div class="container">
      <div class="container-txt">
        <p>SUAS COMPRAS</p>
      </div>

      <ul class="produtos">
        <li>
          <div class="info-produto">
            <img src="https://dummyimage.com/150x150/000/fff&text=Imagem"">
            <div>
                <p class="nome">NOME:</p>
                <p class="descricao">DESCRIÇÃO:</p>
                <p class="preco">PREÇO</p>
            </div>
          </div>

          <div class="combo">
            <button class="mais">+</button>
            <input type="number">
            <button class="menos">-</button>
          </div>

          <div class="qtd-container">
            <div class="qtd">Disponível </div>
          </div>
        </li>

        <li>
            <div class="info-produto">
              <img src="https://dummyimage.com/150x150/000/fff&text=Imagem"">
              <div>
                  <p class="nome">NOME:</p>
                  <p class="descricao">DESCRIÇÃO:</p>
                  <p class="preco">PREÇO</p>
              </div>
            </div>
  
            <div class="combo">
              <button class="mais">+</button>
              <input type="number">
              <button class="menos">-</button>
            </div>

            <div class="qtd-container">
              <div class="qtd">Disponível </div>
            </div>
          </li>

          <li>
            <div class="info-produto">
              <img src="https://dummyimage.com/150x150/000/fff&text=Imagem"">
              <div>
                  <p class="nome">NOME:</p>
                  <p class="descricao">DESCRIÇÃO:</p>
                  <p class="preco">PREÇO</p>
              </div>
            </div>
  
            <div class="combo">
              <button class="mais">+</button>
              <input type="number">
              <button class="menos">-</button>
            </div>

            <div class="qtd-container">
              <div class="qtd">Disponível </div>
            </div>
          </li>

          
          <li>
            <div class="info-produto">
              <img src="https://dummyimage.com/150x150/000/fff&text=Imagem"">
              <div>
                  <p class="nome">NOME:</p>
                  <p class="descricao">DESCRIÇÃO:</p>
                  <p class="preco">PREÇO</p>
              </div>
            </div>
  
            <div class="combo">
              <button class="mais">+</button>
              <input type="number">
              <button class="menos">-</button>
            </div>

            <div class="qtd-container">
              <div class="qtd">Disponível </div>
            </div>
          </li>
      </ul>
    </div>

    <div class="finalizar">
        <p class="total">Total da Compra: </p>
        <button class="finalizarCompra">Finalizar Compra</button>
    </div>
  </body>
</html>
