@model Ecommerce.Models.Usuario
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/cliente.css">
    <title>Bagaço - Produtos</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="~/home/index" id="logo">BAGAÇO</a>
        </div>

        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass search"></i>
            <input type="search" id="pesquisar" placeholder="Pesquisar Produto">
        </div>
        <nav>
            <a href="" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
    </header>

    <div class="container">
        <div class="container-txt">
            <img src="img/Filtro.png" id="filtro">
            <p>PRODUTOS</p>
        </div>

        <div class="lista-produtos">
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
        </div>

        <div class="lista-produtos">
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
            <div class="produtos-card">
                <p class="nome">Nome do Produto</p>
                <img src="https://dummyimage.com/200x200/000/fff&text=Imagem" alt="">
                <div class="ver-mais">
                    <span>Ver Mais</span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Redes Sociais</p>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <div id="divider"></div>
        <p>Email</p>
        <p>bagaco.store@bagaco.com</p>
        <div id="divider"></div>
        <p>Telefone</p>
        <p>(19) 99173-3270</p>
    </footer>
</body>
</html>