@model Ecommerce.Models.Produto
@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/19a96cf4ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/adm_cadastrar.css">
    <title>Bagaço - Administração</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="~/produto/ProdutosAdm" id="logo">BAGAÇO</a>
        </div>
        <nav>
            <a href="~/produto/ProdutosAdm" class="nav-link">Produtos</a>
            <a href="~/usuario/adm_clientes" class="nav-link">Clientes</a>
            <a href="" class="nav-link">Venda</a>
            <div id="divider"></div>
            <a href="~/usuario/AlterarDados" class="nav-link  user">
                <i class="fa-solid fa-user"></i>
            </a>
            @if (Context.Session.GetString("user") != null)
            {
                <a href="~/home/index" class="nav-link">Sair</a>
            }
        </nav>
    </header>

    <div class="container">
        <div class="container-txt">
            <p>CADASTRAR PRODUTOS</p>
        </div>

        <div class="msg">
            @TempData["msg"]
        </div>

        <div class="container-cadastro">
            <form method="post" asp-action="CadastroProduto" enctype="multipart/form-data" class="form">
                <div class="nome-produto produto">
                    <label for="nome">Nome do Produto</label>
                    <input type="text" name="nome" id="nome" required>
                </div>

                <div class="preco-produto produto">
                    <label for="preco">Preço do Produto</label>
                    <input type="number" name="preco" id="preco" required>
                </div>

                <div class="desc-produto produto">
                    <label for="descricao">Descrição do Produto</label>
                    <input type="text" name="descricao" id="descricao" maxlength="500" required>
                </div>

                <div class="codigo-produto produto">
                    <label for="codigo">Código do Produto</label>
                    <input type="number" name="codigo" id="codigo" required>
                </div>

                <div class="qtd-produto produto">
                    <label for="qtd">Quantidade de Produtos</label>
                    <input type="number" name="qtd" id="qtd" required>
                </div>

                <div class="img-produto produto">
                    <label for="img">Selecionar Imagem</label>
                    <input type="file" name="arquivo" id="img">
                </div>

                <div class="btn-cadastrar">
                    <input type="submit" value="Cadastrar Produto" id="cadastrar">
                </div>

            </form>
        </div>
    </div>
</body >

</html >
