<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/19a96cf4ea.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/menu.css" />
    <link rel="stylesheet" href="assets/css/contato.css" />
    <title>BAGAÇO - Contato</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="~/Views/Home/Index.cshtml" id="logo">BAGAÇO</a>
      </div>
    </header>

    <div class="container">
      <div class="container-txt">
        <p>ENTRE EM CONTATO</p>
      </div>

      <div class="email">
        <p>E-mail: bagaco.store@bagaco.com</p>
      </div>

      <div class="telefone">
        <p>Telefone: (19) 99173-3270</p>
      </div>

      <div class="sociais">
        <p>Redes Sociais:</p>
        <div>
          <a href="https://instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://facebook.com" target="_blank"
            ><i class="fa-brands fa-facebook-square"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
