@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Ecommerce</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="" class="nav-link">Produtos</a>
            <a href="" class="nav-link">Contato</a>
            <a href="" class="nav-link">Sobre</a>
        </nav>

        <div class="user-actions">
            <a href="~/usuario/cadastro" class="nav-link">Cadastrar</a>
            <span class="divider"></span>
            <a href="~/usuario/login" class="nav-link">Entrar</a>
        </div>
    </header>

    <div class="fi-container">
        <div class="fi-text">
            <p>Uma nova forma <br> de se fazer</p>
            <span id="green-block"></span>
            <div class="saiba-mais">
                <a href="" id="mais">Saiba Mais</a>
            </div>
        </div>

        <div class="fi-img">
            <img src="~/img/bg.png" alt="">
        </div>
    </div>


</body>

</html>