@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bagaço</title>
</head>
<body>
    @RenderBody()
    <div>
        <ul>
            @if (Context.Session.GetString("user") != null)
            {
                <li class="nav-item">
                    <a class="" asp-area="" asp-controller="Usuario" asp-action="Sair">SAIR</a>
                </li>
            }
        </ul>
    </div>
</body>
</html>

