@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/menu.css">
    <title>@ViewData["Title"] - Bagaço</title>
</head>
<body>
    @RenderBody()
  
</body>
</html>

