@model Ecommerce.Models.Usuario

    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="entrar.css">
        <title>Bagaço - Cadastre-se</title>
    </head>

    <body>
        <div class="container">

            <form action="" class="form">
                <div class="user">
                    <p>Olá,</p>
                    <span>Faça login para obter acesso</span>
                </div>
                <div class="input">

                    <div class="cpf">
                        <label for="cpf" class="lbl">CPF *</label>
                        <input type="text" name="cpf" id="cpf" required>
                    </div>

                    <div class="senha">
                        <label for="senha" class="lbl">Senha *</label>
                        <input type="password" name="senha" id="senha" required>
                    </div>

                    <div class="check">
                        <input type="checkbox" name="check" id="check">
                        <label for="check">Lembrar minha senha</label>
                    </div>

                    <div class="submit">
                        <input type="submit" value="Cadastre-se" class="enviar">
                    </div>

                    <div class="logar">
                        <span>Não possui uma conta? <a href="cadastrar.html">Cadastre-se</a></span>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>


